.nav {
  grid-area: nav;
  border-radius: 10px;
  height: 100%;

  .list {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    list-style-type: none;

    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
}

