.nav {
  grid-area: nav;
  border-radius: 10px;
  height: 100%;

  .list {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    list-style-type: none;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .list-friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

}

