.nav {
    grid-area: nav;
    background-color: #0d88c9;
    border-radius: 16px;
    height: 100vh;
}

.list {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    list-style-type: none;
}

.item{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.item a {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}