body {
    background-color: #EDEEF0;
}

.app-wrapper {
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    max-width: 1440px;
    display: grid;
    grid-template-areas:
          'header header'
'nav content ';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: content;
    background: #ffffff;
    border-radius: 10px;
    height: 100%;
}