.dialogsContainer {
  display: grid;
  column-gap: 15px;
  min-height: 100%;
  grid-template-columns: minmax(100px, 4fr) minmax(100px, 8fr);
  grid-template-rows: 1fr;

  /*------Dialogs------*/
  .DialogsList {
    padding: 10px;
    height: 100%;
    border-right: 2px solid #2A5885;;
  }


  /*------Messages------*/
  .MessagesList {
    padding: 10px;
  }

}